<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom postcard!</h1>
    <form action="/madlib" method="post">
      <label for="Noun">Noun</label>
      <input id="Noun" name="Noun" type="text">
      <label for="Verb">Verb</label>
      <input id="Verb" name="Verb" type="text">
      <label for="Adjective">Adjective</label>
      <input id="Adjective" name="Adjective" type="text">
      <label for="Adverb">Adverb</label>
      <input id="Adverb" name="Adverb" type="text">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>